html {
  font-family: arial;
}


header {
  width: 85%;
  background-color: white;
  padding: 0.5vw;
  padding-left: 3vw;

}
nav {
  width: 15%;
  background-color: white;
  border-bottom-left-radius: 0.5vw;


}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}
ul {
  padding: 0;
}

.text-titre {
  font-size: 3.5vw;
  font-weight: normal;

}
.style-capteur {
  background-color: grey;
  border-bottom-left-radius: 0.5vw;
  padding: 0.5vw;
  margin: 0;

}
#capteur {
  display: inline;
  margin: 0;
}
.sidebar-content {
  display: none;


}
#capteur:hover .sidebar-content {
  display: block;
  padding: 0.1vw;
}
.text-titre-sidebar {
  text-align: center;
  font-size: 3vw;
  font-weight: normal;

}
.sidebar-text {
  text-align: left;
  font-size: 1.5vw;
  font-weight: normal;
  list-style: none;
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  border-style: solid;
  border-color: black;
  padding: 0.25vw;
}
:hover.sidebar-text {
  background-color: grey;
}
@media (max-width: 679px) {
  #capteur{width: 100%; display: block;}
  header{width: 100%; display: none;}
  .sidebar-content{height: 60%; width: 60%; margin: auto;}
  .sidebar-text{
    padding: 1vw;
    font-size: 4vw;


  }

}
