html {
  font-family: arial;

}
#page-naviguer{
  border-radius: 3vw;


}
#titre-h2
{
  text-align: center;
}

body {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}

.image-capteur {
  display: block;
  width: 3vw;
  height: 3vw;
  padding: 0.75vw;
  border-radius: 3vw;
}
.text-navbar {
  padding: 0.5vw;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
}
.lien-navbar {
  text-decoration: none;
}
:hover.lien-navbar {
  text-decoration: underline;
}
#capteur:hover .image-capteur {
  margin-left: auto;
  animation: img-capteur;
  animation-duration: 2s;
}
#capteur:hover .navbar-content {
  animation: moov-navbar;
  animation-duration: 2s;
  width: 20vw;
  background-color: LightGray;
  border-radius: 1vw;
  padding: 1vw;

}
#capteur:hover .navbar-content {
  display: block;
  position: relative;
}
.navbar-content {
  display: none;
}
#navbar {
  right: 0;
  top: 0;
  position: fixed;
  display: block;
  padding: 1vw;
}
@keyframes moov-navbar {
  from {right:-20vw; opacity: -1;}
  to {right:0px; opacity: 1;}
}

@keyframes img-capteur {
  from {background-color: white;}
  to {background-color: grey; transform: rotate(180deg);}
}
#titre-h2
{
  display: block;
  text-align: center;
}
