html {
  font-family: arial;

}
body {
  margin: 0;
}
.image-capteur {
  width: 3vw;
  height: 3vw;
  margin: 0.5vw;
  padding: 0.75vw;
  border-radius: 3vw;
}
.image-capteur:hover  {
  animation-name: img-capteur;
  animation-duration: 3s;

}






#capteur:hover .navbar-content {
  display: block;
  animation-name: moov-navbar;
  animation-duration: 2s;
  width: 20vw;

}




.navbar-content {
  display: none;
}




#navbar {
  right: 0;
  top: 0;
  position: fixed;
  display: block;
}


f



@keyframes img-capteur {
  from {background-color: white;}
  to {background-color: grey;}
}



@keyframes moov-navbar {
  from {}
  to {background-color: grey;}
}













@media (max-width: 550px) {

}
