html {
  font-family: arial;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#background {
  background-image: linear-gradient(to top right,rgba(255, 255, 255, 1),rgba(0, 125, 255, 0.6));
  height: 100%;
}
#carte-desktop {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.75);
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.text-connexion {
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
}
.boc-connexion {
  width: 1vw;
}
.text-deposer-fichier {
  font-size: 1vw;
  text-align: center;
  padding-bottom: 1vw;
}
a {
  text-decoration: none;
  color: black;
}
.image-capteur {
  display: block;
  width: 3vw;
  height: 3vw;
  padding: 1vw;
  border-radius: 5vw;
}
.text-navbar {
  padding: 0.5vw;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5vw;
}
.lien-navbar {
  text-decoration: none;
}
:hover.lien-navbar {
  text-decoration: underline;
}
#capteur:hover .image-capteur {
  margin-left: auto;
  animation: img-capteur;
  animation-duration: 1.5s;
  background-color: RGBA(255,255,255,0.9);
}
#capteur:hover .navbar-content {
  animation: moov-navbar;
  animation-duration: 2s;
  width: 20vw;
  background-color: RGBA(255,255,255,0.9);
  border-radius: 1vw;
  padding: 1vw;

}
#capteur:hover .navbar-content {
  display: block;
  position: relative;
}
.navbar-content {
  display: none;
}
#navbar {
  right: 0;
  top: 0;
  position: fixed;
  display: block;
  padding: 1vw;
}
@keyframes moov-navbar {
  from {
    right:-20vw;
    opacity: 0;
  }
  to {
    right:0px;
    opacity: 1;
  }
}

@keyframes img-capteur {
  from {
    background-color: transparent;
  }
  to {
    transform: rotate(180deg);
    background-color: rgba(255,255,255,0.9);
  }
}
#titre-h2 {
  display: block;
  text-align: center;
  font-size: 2vw;
}


@media (max-width: 750px) {
  #carte-mobile{
    display: flex;
    flex-direction: column;
  }
  #navbar {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  }
  #titre-h2 {
    font-size: 4vw;
  }
  @keyframes moov-navbar {
    from {
      bottom:-20vw;
      opacity: -1;
     }
    to {bottom:0px; opacity: 1;}
  }
  #capteur:hover .image-capteur {
    margin: auto;
    animation: img-capteur;
    animation-duration: 2s;
    background-color: RGBA(255,255,255,0.9);
}
  .image-capteur {
    display: block;
    width: 10vw;
    height: 10vw;
  }
  #capteur:hover .navbar-content {
    animation: moov-navbar;
    animation-duration: 2s;
    width: 60vw;
    background-color: rgba(255,255,255,0.9);
    border-radius: 1vw;
    padding: 1vw;
  }
  .text-navbar {
    padding: 1.5vw;
    font-weight: normal;
    font-style: normal;
    font-size: 4vw;
  }
  #carte-desktop {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 1vw;
    padding-bottom: 1vw;
  }
  .text-connexion {
    font-weight: normal;
    font-style: normal;
    font-size: 3vw;
  }



}
.user
{
  left: 0;
  top: 0;
  position: fixed;
  display: block;
  padding: 1vw;

}
