<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog FR</title>
  <meta charset="utf-8" content="width=device-width" name="viewport">
  <link rel="stylesheet" href="config/stylesheet.css" >
</head>
<body>
    <header>
      <h1 class=text-titre>Bienvenue sur le Blog de Français</h1>
    </header>
    <nav id=capteur>
      <div class=style-capteur>
        <h1 class=text-titre-sidebar>NavBar</h1>
      </div>
      <div class=sidebar-content>
        <ul>
          <li class=sidebar-text><a href="#">Publier une pause</a></li>
          <li class=sidebar-text><a href="#">Naviguer</a></li>
        </ul>
      </div>
    </nav>

</body>
</html>
