<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../config/style.css">
    <title>Naviguer</title>
  </head>
  <body>

    <h2 id="titre-h2">Naviguer</h2>

    <nav id=navbar>
      <div id=capteur><img class=image-capteur src='../images/dots.png'/>
      <div class=navbar-content>
        <ul>
          <li class="text-navbar lien-navbar"><a href='../default.php'>Acceuil</a></li>
          <li class="text-navbar lien-navbar">Publier une pause</li>
          <li class="text-navbar lien-navbar">Se connecter</li>
        </ul>
      </div>
      </div>
    </nav>




  </body>
</html>
