<!DOCTYPE html>
<html lang="en">
<head>
  <title>Naviguer</title>
  <meta charset="utf-8" content="width=device-width" name="viewport">
  <link rel="stylesheet" href="../config/stylesheet.css">
</head>
<body id=carte>
  <h2 id="titre-h2">Naviguer</h2>
  <br>
  <nav id=navbar>
    <div id=capteur><img class=image-capteur src='../images/dots.png'/>
    <br>
    <div class=navbar-content>
      <ul>
        <li class="text-navbar lien-navbar"><a href='../default.php'>Acceuil</a></li>
        <li class="text-navbar lien-navbar">Publier une pause</li>
        <li class="text-navbar lien-navbar">Se connecter</li>
      </ul>
    </div>
    </div>
  </nav>




  </body>
</html>
