<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profil</title>
    <link href="../config/stylesheet.css" type="text/css" rel="stylesheet">
  </head>

<body id=carte-mobile>
  <h2 id=titre-h2>Votre profil</h2>
  <nav id=navbar>
    <div id=capteur><img class=image-capteur src='images/dots.png'/>
      <br>
      <div class=navbar-content>
        <ul>
          <li class="text-navbar lien-navbar"><a href='php/forum-naviguer-pause.php'>Naviguer</a></li>
          <li class="text-navbar lien-navbar"><a href='php/bdd.php'>Acceder à la base de données</a></li>
          <li class="text-navbar lien-navbar"><a href='php/deconnection.php'>Se déconnecter</a></li>
        </ul>
      </div>
    </div>
  </nav>

</body>
</html>
